@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

        body{
            text-align:center;
            border: solid 1px rgb(231, 224, 224);
            border-radius: 10px;
            margin:auto;
            margin-top:50px;
            padding-bottom:30px;
            width:50%;
            height: auto;
            font-family: Barlow;
        }
        
        h1{
            font-family: Barlow;
            font-weight: 500;
            margin-bottom: 40px;            
        }
        
        p{            
            font-size: 20px;
            
        }

        #botao{
            font-size: 17px;
            margin-top: 15px;
        }

        input{
            text-align: center;
            
        }

        #result{
            font-size:22px;
            margin-top:15px;
            
        }

        #apro_repro{
            margin-top:20px;
        }

        .repro{
            color: red;
            font-size: 23px;
            font-weight: 500;            
        }

        .apro{
            color:rgb(15, 182, 15);
            font-size: 23px;
            font-weight: 500;
        }
       